/*------------------------------------------------
    *  Base
--------------------------------------------------*/
.share-image-buttons a i {
  color:#fff;
}
.share-image-buttons a.btn-share-alt {
  background:#008852;
}
.share-image-buttons a.btn-facebook {
  background:#394f91;
}
.share-image-buttons a.btn-twitter {
  background:#5ea3da;
}
.share-image-buttons a.btn-google-plus {
  background:#bc453d;
}
.share-image-buttons a.btn-pinterest {
  background:#a52a30;
}
.share-image-buttons a.btn-linkedin {
  background:#007bb6;
}
.share-image-buttons a.btn-digg {
  background:#000;
}
.share-image-buttons a.btn-tumblr {
  background:#3e5a70;
}
.share-image-buttons a.btn-reddit {
  background:#c44e1e;
}
.share-image-buttons a.btn-stumbleupon {
  background:#eb4923;
}
.share-image-buttons a.btn-delicious {
  background:#0b79e5;
}